In [1]:
myList=[1,2,3]

# range

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,9):
    print(num)

3
4
5
6
7
8

In [4]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

# enumerate

In [7]:
index_count=0

for letter in 'abcdef':
    print(f'At index {index_count} is {letter}')
    index_count+=1

At index 0 is a
At index 1 is b
At index 2 is c
At index 3 is d
At index 4 is e
At index 5 is f

In [8]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [9]:
word = 'abcde'

for index,letter in enumerate(word):
    print(f'{index} -> {letter}\n')

0 -> a

1 -> b

2 -> c

3 -> d

4 -> e

# zip

In [14]:
myList1 = [1,2,3]
myList2 = ['a','b','c']
myList3 = [100,200,300]
for item in zip(myList1,myList2,myList3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [15]:
myList1 = [1,2,3]
myList2 = ['a','b','c','d']
myList3 = [100,200,300]
for item in zip(myList1,myList2,myList3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

# in

In [16]:
'x' in [1,2,3]

False

In [19]:
'x' in ['x','y','z']

True

In [20]:
'a' in 'aman'

True

In [22]:
'a' in 'Amn'

False

In [23]:
'myKey' in {'myKey':'aman'}

True

In [26]:
d={'myKey':345}

345 in d.values()

True

In [27]:
d={'myKey':345}

345 in d.keys()

False

# min

In [28]:
min(myList)

1

# max

In [30]:
max(myList)

3

# shuffle

In [32]:
from random import shuffle

myList=[1,2,3,4,5,6,7,8,9]
shuffle(myList)
myList

[5, 2, 7, 8, 9, 4, 1, 6, 3]

# random

In [34]:
from random import randint
randint(0,100)

76

# input function

In [35]:
input('Enter the number here:')

Enter the number here:50

'50'

In [36]:
input('What is your name:')

What is your name:Aman

'Aman'